@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');

body{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/* .link-primary {
    background-color: rgb(228, 32, 91);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: rgb(228, 32, 91);
    border-radius: 0.5rem;
    border: 1px solid rgb(228, 32, 91);
} */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: rgb(228, 32, 91);
    color: black;
    padding: 1rem 1rem;
    border-bottom-left-radius: 1rem;
    position: fixed;
    top: 0;
    width: 97.5%;
    right: 0;
}

.navigation .nav-hmm {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color:black;
}

.navigation .link-active {
    font-weight: bold;
}

.navigation .cont2 {
    border-bottom-left-radius: none;
    margin: 2rem;
}

.menu{
    /* background-color: rgb(228, 32, 91); */
    color: black;
    border-radius: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    
    background-size: 300px 100px;
    margin: auto;
    margin-top: 10rem;
}

.menu .link{
    color: black;
    background-color: rgb(180, 2, 55);
}

.menu .link:hover {
    color: rgb(180, 2, 55);
    border-style: solid;
    background-color:white;
    border-color: rgb(180, 2, 55);
    
}

h2{
    text-align: center;
}


.result{
    display: block;
    left: 0;
    text-align: center;
    margin: 1rem;
    font-size: medium;
}

#btn-submit{
    font-size: large;
}
#btn-submit:hover{
    color: rgb(180, 2, 55);
    border-style: solid;
    background-color:white;
    border-color: rgb(180, 2, 55);
    text-align: center;
}

#output-txt{
    font-weight: bolder;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.footer {
    margin-top: 3.5%;
    background-color: rgb(228, 32, 91);
    padding: 2rem 1rem;
    text-align: center;
    color: black;
    border-top-right-radius: 1rem;
    /* position: fixed; */
    bottom: 0;
    width: 97.5%;
    left: 0;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer .link {
    color: black;
}

.footer ul {
    padding-inline-start: 0px;
}
